.element{
    max-width: 880px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 329px;
    margin: auto;
    column-gap: 17px;
    row-gap: 20px;
    }
    
    .element__card{
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    width: 282px; 
    }
    
    
    .element__card-image{
    max-width: 282px;
    max-height: 282px;
    width: 100%;
    }
    
    .element__content{
    color: black;
    padding:25px 15px 25px 21px;
    display: flex;
    
    }
    
    .element__place{
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    width: 246px;
    }
        
    .element__like-button{
    width: 21px;
    height: 19px;
    background-color: none;
    cursor: pointer;
    }
    
    .element__trash{
    width: 18px;
    height: 19.3px; 
    position:absolute;
    margin-top: 18px;
    margin-left: 249px;
    }
    
    
    
    
    @media screen and (width <=820px) {
        .element{
        grid-template-columns: repeat(2, 1fr);
        }
        .element__card{
           justify-self: center;}
    }
    
    @media screen and (width <=550px) {
        .element{
        grid-template-columns: repeat(1, 1fr);}
        .element__card{
        margin: auto;
        }
    }
    @media screen and (width <=320px) {
        .element{
        display: flex;
        flex-direction: column;
        }
    }