.header {
max-width: 880px;
margin:auto;
width: 100%;
padding-top: 45px;
padding-bottom: 41px;
border-bottom: 1px solid #545454;
}

.header__vector{
width: 173px;
max-height: 33px;
}


@media screen and (min-width: 320px) {
.header{
padding-left: 27px;
}
}
